.ws-4 {
    word-spacing: 4px;
}
.verse-number{
       border-radius: 50%;
       min-width: 20px;
       min-height: 20px;
       border: 1px solid;
       font-size: 10px;
       display: inline-block;
       text-align: center;
}
